<div class="home__container">
	<app-card
	gameCover="assets/Skyrim.jpg"
	gameLabel="Exclusive"
	gamePlataform="Digital Xbox 360 | One | Series"
	gamePrice="R$ 99,99"
	></app-card>
	<app-card
	gameLabel="Premium Edition"
	gameCover="assets/Horizon5.jpg"
	gamePlataform="Xbox One | Series"
	gamePrice="R$ 349,99"
	></app-card>
	<app-card
	gameCover="assets/MG5.jpg"
	gamePlataform="Xbox One | Series"
	gamePrice="R$ 149,99"
	></app-card>
	<app-card
	gameLabel="Exclusive"
	gameCover="assets/ArkhamKnight.png"
	gamePlataform="Xbox One | Series"
	gamePrice="R$ 129,99"
	></app-card>
	<app-card
	gameCover="assets/AC4.jpeg"
	gamePlataform="Xbox 360 | One | Series"
	gamePrice="R$ 79,99"
	></app-card>
	<app-card
	gameCover="assets/Witcher.jpg"
	gamePlataform="Xbox One | Series"
	gamePrice="R$ 149,99"
	></app-card>
	<app-card
	gameLabel="Deluxe Edition"
	gameCover="assets/DBX2.jpeg"
	gamePlataform="Xbox 360 | One | Series"
	gamePrice="R$ 129,99"
	></app-card>
	<app-card
	gameCover="assets/Sea.jpeg"
	gamePlataform="Xbox One | Series"
	gamePrice="R$ 149,99"
	></app-card>
	<app-card
	gameLabel="Deluxe Edition"
	gameCover="assets/StarWars.jpeg"
	gamePlataform="Xbox Series"
	gamePrice="R$ 399,99"
	></app-card>
</div>
