* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	color: black;
}

body{
	background: rgb(98,98,98);
  background: linear-gradient(90deg, rgb(72, 72, 72) 0%, rgb(125, 125, 125) 100%);
}
